@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-semiBold.woff2") format("woff2"), url("../fonts/montserrat-semiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header-container {
    width: 725px;
  }
}
@media (min-width: 1440px) {
  .header-container {
    width: 1360px;
  }
}
.footer-container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-container {
    width: 725px;
  }
}
.slider-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .slider-container {
    width: 768px;
    padding: 60px 80px 0 80px;
  }
}
@media (min-width: 1440px) {
  .slider-container {
    width: 1440px;
    padding: 30px 80px 60px 80px;
  }
}
.features-container {
  width: 280px;
  margin: 0 auto;
  padding: 50px 0 60px 0;
}
@media (min-width: 768px) {
  .features-container {
    width: 728px;
    padding: 60px 0 100px 0;
  }
}
@media (min-width: 1440px) {
  .features-container {
    width: 1360px;
    padding: 100px 0 96px 0;
  }
}
.main-header {
  background-color: #ffffff;
}
.main-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
}
.main-navigation__logo-text {
  display: none;
}
.main-navigation__logo-link {
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-navigation {
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .main-navigation {
    justify-content: flex-start;
  }
  .main-navigation__logo-link {
    margin-right: 20px;
  }
  .main-navigation__logo-text {
    display: block;
    width: 126px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
  }
}
.pages-navigation {
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: #ffffff;
  list-style: none;
  border-top: 1px solid #f0ebff;
  border-bottom: 1px solid #f0ebff;
  z-index: 10;
}
.pages-navigation.pages-navigation--open {
  display: flex;
}
.pages-navigation__item {
  display: block;
  width: 320px;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center;
}
.pages-navigation__item:not(:last-child) {
  border-bottom: 1px solid #f0ebff;
}
.pages-navigation__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
.pages-navigation--closed {
  display: none;
}
@media (min-width: 768px) {
  .pages-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    border: none;
    width: 500px;
    margin-left: 67px;
  }
  .pages-navigation__item:not(:last-child) {
    border-bottom: none;
  }
  .pages-navigation__item {
    display: flex;
    width: max-content;
    padding: 0;
  }
  .pages-navigation__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 20px;
  }
  .pages-navigation__link--current {
    color: #7859cf;
    padding-bottom: 30px;
    border-bottom: 2px solid #7859cf;
  }
}
@media (min-width: 1440px) {
  .pages-navigation {
    margin-left: 162px;
  }
  .pages-navigation__link:hover {
    color: #7859cf;
  }
}
.user-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-navigation__item {
  width: 60px;
  height: 60px;
}
.user-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.user-navigation__text {
  display: none;
}
@media (min-width: 768px) {
  .user-navigation__item {
    width: 60px;
    height: 80px;
  }
  .user-navigation__link {
    width: 60px;
    height: 80px;
  }
}
@media (min-width: 1440px) {
  .user-navigation {
    margin-left: auto;
  }
  .user-navigation__text {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    margin-left: 8px;
  }
  .user-navigation__item {
    display: flex;
    width: min-content;
    height: min-content;
  }
  .user-navigation__link {
    padding: 32px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
    cursor: pointer;
    text-decoration: none;
  }
  .user-navigation__link:hover {
    color: #7859cf;
  }
}
.main-menu-button {
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  order: 2;
}
.main-menu-button__icon--hidden {
  display: none;
}
@media (min-width: 768px) {
  .main-menu-button {
    display: none;
  }
}
.footer-contacts {
  border-bottom: 1px solid #f0ebff;
}
.footer-contacts__wrapper {
  padding: 20px 0;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-decoration: none;
}
.footer-contacts__link--adress {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-left: 20px;
}
.footer-contacts__link--adress::before {
  content: "";
  width: 13px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../images/svg/address-icon.svg");
}
.footer-contacts__link--phone {
  position: relative;
  padding-left: 20px;
}
.footer-contacts__link--phone::before {
  content: "";
  width: 13px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../images/svg/phone-icon.svg");
}
@media (min-width: 768px) {
  .footer-contacts__wrapper {
    width: 223px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-contacts {
    border: none;
  }
}
@media (min-width: 1440px) {
  .footer-contacts__wrapper {
    width: 317px;
    padding-top: 9px;
  }
}
.footer-copyright {
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-copyright__wrapper {
  display: flex;
  justify-content: center;
}
.footer-copyright__link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  padding-right: 30px;
  text-decoration: none;
}
.footer-copyright__link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  top: 0;
  right: 13px;
  background-image: url("../images/svg/html-logo.svg");
}
@media (min-width: 1440px) {
  .footer-copyright__wrapper {
    width: 1360px;
  }
}
.footer-media {
  border-bottom: 1px solid #f0ebff;
}
.footer-media__wrapper {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .footer-media__wrapper {
    width: 223px;
    margin: 0;
    padding-top: 0;
  }
  .footer-media {
    border: none;
  }
}
@media (min-width: 1440px) {
  .footer-media__wrapper {
    width: 317px;
    padding-top: 9px;
  }
}
.footer-pages-navigation {
  border-bottom: 1px solid #f0ebff;
}
.footer-pages-navigation__wrapper {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .footer-pages-navigation__wrapper {
    width: 223px;
    margin: 0;
    padding: 0;
  }
  .footer-pages-navigation {
    border: none;
  }
}
@media (min-width: 1440px) {
  .footer-pages-navigation__wrapper {
    width: 318px;
    padding-top: 9px;
    padding-bottom: 0;
  }
}
.footer-social {
  border-bottom: 1px solid #f0ebff;
}
.footer-social__logo-text {
  display: none;
}
.footer-social__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .footer-social {
    border: none;
  }
  .footer-social__wrapper {
    padding-top: 42px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .footer-social {
    width: 320px;
  }
  .footer-social__wrapper {
    width: 320px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-social__logo-text {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 50px;
  }
}
.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
}
.main-footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.main-footer__social-item:not(:last-child) {
  margin-bottom: 4px;
}
.main-footer__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859cf;
  margin: 0;
  margin-bottom: 12px;
}
.main-footer__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
}
@media (min-width: 1440px) {
  .main-footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1360px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .main-footer__logo-link {
    margin-bottom: 10px;
  }
  .main-footer__social-list {
    margin-top: auto;
  }
}
@media (min-width: 768px) {
  .footer-list-wrapper {
    display: flex;
    width: 725px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer-list-wrapper {
    width: 1012px;
  }
}
.main-slider--pink {
  background-color: #f3ebe1;
}
.main-slider--light-blue {
  background-color: #eae6fc;
}
.main-slider--gray {
  background-color: #e5e6e8;
}
.main-slider__item {
  display: none;
  flex-direction: column;
  align-items: center;
}
.main-slider__item.main-slider__item--active {
  display: flex;
}
.main-slider__new-mark {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
}
.main-slider__image {
  margin-bottom: 10px;
}
.main-slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 0;
  margin-bottom: 10px;
}
.main-slider__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;
}
.main-slider__description br {
  display: none;
}
.main-slider__price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-slider__old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #7859cf;
  margin-right: 6px;
}
.main-slider__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-right: 20px;
}
.main-slider__link {
  padding: 8px 20px;
  background: #7859cf;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.main-slider__button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
.main-slider__button {
  border: none;
  background-color: transparent;
  width: 20;
  height: 656px;
  cursor: pointer;
}
.main-slider__button:hover,
.main-slider__button:focus {
  outline: none;
}
.main-slider__button:active {
  background-color: transparent;
}
.main-slider__button-icon--next {
  transform: rotate(180deg);
}
.main-slider__pagination-list {
  display: none;
}
.main-slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-slider--pink {
    background-image: linear-gradient(#f3ebe1 640px, #ffffff 640px, #ffffff 800px);
  }
  .main-slider--light-blue {
    background-image: linear-gradient(#eae6fc 640px, #ffffff 640px, #ffffff 800px);
  }
  .main-slider--gray {
    background-image: linear-gradient(#e5e6e8 640px, #ffffff 640px, #ffffff 800px);
  }
  .main-slider__new-mark {
    order: -1;
  }
  .main-slider__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    order: -1;
  }
  .main-slider__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    order: -1;
  }
  .main-slider__description br {
    display: block;
  }
  .main-slider__price-wrapper {
    order: -1;
  }
  .main-slider__button-wrapper {
    width: 768px;
  }
  .main-slider__button {
    width: 80px;
    height: 640px;
  }
}
@media (min-width: 1440px) {
  .main-slider {
    background-image: none;
  }
  .main-slider--pink {
    background-color: #f3ebe1;
  }
  .main-slider--light-blue {
    background-color: #eae6fc;
  }
  .main-slider--gray {
    background-color: #e5e6e8;
  }
  .main-slider__item {
    display: none;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 160px min-content min-content min-content min-content min-content min-content;
  }
  .main-slider__item.main-slider__item--active {
    display: grid;
  }
  .main-slider__picture {
    grid-column: 1/2;
    grid-row: 1/7;
  }
  .main-slider__image {
    grid-column: 1/2;
    grid-row: 1/7;
  }
  .main-slider__new-mark {
    text-align: start;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 30px;
  }
  .main-slider__title {
    text-align: start;
    align-self: flex-start;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .main-slider__description {
    text-align: start;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 30px;
  }
  .main-slider__price-wrapper {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-left: 30px;
  }
  .main-slider__button-wrapper {
    width: 1440px;
  }
  .main-slider__button {
    width: 80px;
    height: 714px;
  }
  .main-slider__pagination-list {
    position: absolute;
    bottom: 60px;
    left: 590px;
    display: flex;
    align-items: center;
    list-style: none;
    align-self: center;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .main-slider__pagination-item {
    width: 62px;
    height: 24px;
  }
  .main-slider__pagination-item:not(:last-child) {
    margin-right: 8px;
  }
  .main-slider__pagination-link {
    display: block;
    background-image: linear-gradient(transparent 9px, #ffffff 9px, #ffffff 15px, transparent 15px);
    width: 62px;
    height: 24px;
    cursor: pointer;
  }
  .main-slider__pagination-item--active .main-slider__pagination-link {
    background-image: linear-gradient(transparent 9px, #7859cf 9px, #7859cf 15px, transparent 15px);
  }
}
.features__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 0;
  margin-bottom: 4px;
}
.features__title-description {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 36px;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .features__title-description {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }
  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 0;
  }
  .features__title-description {
    display: block;
    margin: 0 auto;
    padding: 0 150px;
    margin-bottom: 80px;
  }
}
.features-card {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
}
.features-card:not(:last-child) {
  margin-bottom: 32px;
}
.features-card--time {
  background-image: url("../images/svg/background-svg/time-icon.svg");
}
.features-card--shield {
  background-image: url("../images/svg/background-svg/shield-icon.svg");
}
.features-card--lighting {
  background-image: url("../images/svg/background-svg/lighting-icon.svg");
}
.features-card--nature {
  background-image: url("../images/svg/background-svg/nature-icon.svg");
}
.features-card__title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 4px;
}
.features-card__description {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin: 0;
}
@media (min-width: 768px) {
  .features-card {
    padding: 0 0 0 60px;
    align-items: flex-start;
    background-position: left top;
    width: 340px;
    box-sizing: border-box;
  }
  .features-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .features-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    width: 270px;
  }
  .features-card:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .features-card {
    padding: 60px 0 0 0;
    width: 318px;
    align-items: center;
    background-position: top center;
  }
  .features-card__description {
    display: inline-block;
    width: 317px;
    text-align: center;
  }
}
.map__wrapper {
  height: 420px;
}
@media (min-width: 768px) {
  .map__wrapper {
    height: 480px;
  }
}
@media (min-width: 1440px) {
  .map__wrapper {
    height: 540px;
  }
}
/*# sourceMappingURL=style.css.map */
