.catalog-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.catalog-pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
}

.catalog-pagination__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7859cf;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    .catalog-pagination__link-text {
      color: #ffffff;
    }

    .catalog-pagination__link-icon {
      fill: #ffffff;
    }

    background-color: #9070ec;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
  }

  &:active {
    background-color: #593cac;
    color: #ffffff;
  }

  &:disabled {
    background-color: #e2e2e2;
  }
}

.catalog-pagination__link--current {
  background-color: transparent;
  color: #333333;
  cursor: default;

  &:hover,
  &:focus {
    background-color: transparent;
    border-radius: 6px;
    outline: none;
    color: #333333;
  }

  &:active {
    background-color: transparent;
    color: #333333;
  }
}

.catalog-pagination__link-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #7859cf;
  text-decoration: none;
  display: none;
}

@media (min-width: @tablet-width) {
  .catalog-pagination__link--button {
    display: flex;
    align-items: center;
    width: 170px;
    min-height: 40px;
    background-image: none;
  }

  .catalog-pagination__link-text {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .catalog-pagination {
    position: relative;
    right: -20px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 72px;
    width: 444px;
    margin-left: auto;
  }

  .catalog-pagination__list {
    width: 188px;
  }

  .catalog-pagination__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .catalog-pagination__link-icon {
    display: none;
  }

  .catalog-pagination__link--button-previous {
    border-radius: 4px 0 0 4px;
  }

  .catalog-pagination__link--button-next {
    border-radius: 0 4px 4px 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-pagination {
    margin-top: 61px;
  }
}
