.footer-copyright {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-copyright__wrapper {
  display: flex;
  justify-content: center;
}

.footer-copyright__link {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #7859cf;
    outline: none;

    .footer-copyright__link-icon {
      fill: #7859cf;
      outline: none;
    }
  }

  &:active {
    color: #593cac;

    .footer-copyright__link-icon {
      fill: #593cac;
    }
  }
}

.footer-copyright__link-icon {
  fill: #bdbdbd;
  margin-left: 4px;
}

.footer-copyright__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  display: inline-block;
  margin-right: 4px;
}

@media (min-width: @tablet-width) {
  .footer-copyright {
    padding-top: 37px;
  }
}

@media (min-width: @desktop-width) {
  .footer-copyright__wrapper {
    width: 1360px;
  }

  .footer-copyright {
    padding-bottom: 0;
    padding-top: 28px;
  }
}
