.footer-pages-navigation {
  border-bottom: 1px solid #f0ebff;
}

.footer-pages-navigation__wrapper {
  padding: 20px 0;
}

@media (min-width: @tablet-width) {
  .footer-pages-navigation__wrapper {
    width: 223px;
    margin: 0;
    padding: 0;
  }

  .footer-pages-navigation {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .footer-pages-navigation__wrapper {
    width: 318px;
    padding-top: 9px;
    padding-bottom: 0;
  }
}
